variables: 
  AUDIT_AWS_IAM_ALERT_LIST:
    description: "Which alerts would you like to check for? Default is all IAM alerts. Choices are iam-inventory-users, iam-inventory-roles, iam-inventory-policies, iam-inventory-groups, iam-unusediamgroup, iam-multiple-keys, iam-inactive-key-no-rotation, iam-active-key-no-rotation, iam-passwordreuseprevention, iam-missing-password-policy, iam-expirepasswords, iam-no-mfa, iam-root-active-password, iam-user-attached-policies, iam-password-policy-uppercase, iam-password-policy-lowercase, iam-password-policy-symbol, iam-password-policy-number, iam-password-policy-min-length, iam-root-access-key-1, iam-root-access-key-2, iam-active-root-user, iam-mfa-password-holders, iam-support-role, iam-user-password-not-used, iam-cloudbleed-passwords-not-rotated, iam-unused-access, iam-root-key-access, iam-root-no-mfa, iam-initialization-access-key, iam-no-hardware-mfa-root"
    required: false
    type: array
    default:
      - iam-inventory-users
      - iam-inventory-roles
      - iam-inventory-policies
      - iam-inventory-groups
      - iam-unusediamgroup
      - iam-multiple-keys
      - iam-inactive-key-no-rotation
      - iam-active-key-no-rotation
      - iam-passwordreuseprevention
      - iam-missing-password-policy
      - iam-expirepasswords
      - iam-no-mfa
      - iam-root-active-password
      - iam-user-attached-policies
      - iam-password-policy-uppercase
      - iam-password-policy-lowercase
      - iam-password-policy-symbol
      - iam-password-policy-number
      - iam-password-policy-min-length
      - iam-root-access-key-1
      - iam-root-access-key-2
      - iam-active-root-user
      - iam-mfa-password-holders
      - iam-support-role
      - iam-user-password-not-used
      - iam-cloudbleed-passwords-not-rotated
      - iam-unused-access
      - iam-root-key-access
      - iam-root-no-mfa
      - iam-initialization-access-key
      - iam-no-hardware-mfa-root
  AUDIT_AWS_IAM_ALERT_RECIPIENT:
    description: "Enter the email address(es) that will receive notifications. If more than one, separate each with a comma."
    required: false
    type: string
    default:
  AUDIT_AWS_IAM_ALLOW_EMPTY:
    description: "Would you like to receive empty reports? Options - true / false. Default is false."
    required: true
    type: string
    default: false
  AUDIT_AWS_IAM_SEND_ON:
    description: "Send reports always or only when there is a change? Options - always / change. Default is change."
    required: true
    type: string
    default: "change"
  AUDIT_AWS_IAM_DAYS_PASSWORD_UNUSED:
    description: "Number of days for which password has not been used"
    required: true
    type: string
    default: "30"
  AUDIT_AWS_IAM_ACCOUNT_NUMBER:
    description: "The AWS account number. Required for a full CIS audit. This can be found by the root user at https://console.aws.amazon.com/billing/home?#/account"
    required: false
    type: string
    default:
